
#zoom-btn-container {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    background: rgba(255,255,255,.8);
    border-radius: 3px;
}

.zoom-btn {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    height: 80px;
    width: 80px;
}

.zoom-btn-in {
    margin-bottom: -1px;
    border-bottom: 1px solid #ececec;
}

.zin, .zout {
    height: 20px;
    width: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #686A5B;
}

.blue-disable .zin {
    opacity: .53;
}

.blue-disable .zout {
    opacity: .53;
}

.init-btn {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    height: 80px;
    width: 80px;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
    border-radius: 3px;
}


.map-init .init-btn b {
    height: 20px;
    width: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #686A5B;
}

.map-init .init-btn.active {
    background-color: #eee;
}

    .map-init .init-btn.active b {
        background-position: -4px 1px;
    }

.zoom-btn:active, .init-btn:active {
    background-color: #e5e5e5 !important;
}
